# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables (Penting: Jangan push key rahasia ke publik)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
build/
*.egg-info/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
